*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.debug{
  border: 1px solid firebrick;
  background-color: bisque;
}

/* GENERAL */

body{
  padding-top: 75px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* HEADER */

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #FF6900;
  height: 75px;
  width: 100%;
  color: white;
}



header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{
  display: flex;
  gap: 10px;
  list-style: none
}

header nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header nav ul li a:hover{
  text-decoration: underline;
}


header .logo img{
  height: 30px;
}

header .icons{
  font-size: 20px;
}

header .icons i{
  cursor: pointer;
  margin-left: 10px;
}

header .icons i:hover{
  color:black;
}


/* MAIN */

main{
  padding: 50px 0;
}

main .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

main .row .card{
  cursor: pointer;
  display: inline-block;
  height: 730px;
}

main .row .card .card-img{
  position: relative;
  top: 0;
  left: 0;
} 

main .row .card .card-img img{ 
  height: 640px;
  object-fit: cover;
}

main .row .card .card-img .img-2{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

main .row .card:hover .img-2{
  display: block;
}

main .row .card .card-img .discount,
 .soste,
 .heart{
  position: absolute;
  color: white;
  padding: 5px 10px;
  font-weight: 600;
}

main .row .card .card-img .discount{
  left: 0;
  bottom: 30px;
  background-color: red;
}

main .row .card .card-img .soste{
  left: 60px;
  bottom: 30px;
  background-color: green;

}

main .row .card .card-img .heart{
  top: 10px;
  right: 0px;
  padding: 5px 15px;
  background-color: white;
  color: black;
  font-size: 30px;
}

main .row .card .card-text .brand{
  font-weight: smaller;
  font-size: 14px;
}

main .row .card .card-text .name-object{
  text-transform: uppercase;
}

main .row .card .card-text .price{
  font-size: 14px;
  font-weight: bolder;
}

main .row .card .card-text .price span:first-child{
  color: red;
}

main .row .card .card-text .price span:last-child{
  text-decoration: line-through;
}

/* FOOTER */

footer{
  background-color: #1A1A1A;
  height: 100px;
}